@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.carddiv {
  background: linear-gradient(to bottom, hsl(278, 68%, 11%), hsl(278, 94%, 30%));
  height: 100vh;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: left;
}

#confirm-btn {
  background-color: hsl(278, 68%, 11%);
  border-radius: 10px;
  color: #ffffff;
  height: 50px;
  width: 100%;
}

.frontCard {
  color: #ffffff;
  margin-left: 25%;
  margin-top: 40%;
  position: relative;
}

.backCard {
  margin-left: 40%;
  margin-top: 10%;
}

.card-logo {
  bottom: 185px;
  left: 50px;
  position: absolute;
}

.cardInfo {
  bottom: 8px;
  font-family: 'Space Grotesk', sans-serif;
  font-size: 1.5rem;
  left: 100px;
  position: absolute;
}

.formbox {
  font-family: 'Space Grotesk', sans-serif;
  width: 400px;
}

@media screen and (max-width: 600px) {
  .backCard {
    margin-left: 0%;
    margin-top: 10%;
  }

  .back-img, .front-img {
    height: 180px;
  }

  .carddiv {
    height: 400px;
  }

  .frontCard {
    margin-left: 0%;
    margin-top: 0%;
  }

  form {
    height: 50vh;
  }
}
